<!--header section-->
<div class="ui-header-home ui-header-normal">
    <div class="wrapper clearfix">
        <a href="/" class="ui-logo fl">乡货圈- 分享家乡的味道</a>
        <div class="fr">
            <a href="/join-share" class="ui-btn">分享家招募</a>
            <a href="/join-service" class="ui-btn">服务商入驻</a>
            <a href="/rule-share" class="ui-btn">入圈须知</a>
        </div>
    </div>
</div>

<div class="ui-body-normal">
    <div class="wrapper">
        <h2>关于乡货圈</h2>
        <div class="ui-content-box clearfix">
            <ul class="ui-nav-sidebar fl">
                <li class="on"><a href="/about">关于乡货圈</a></li>
            </ul>

            <div class="fr">
                <div class="ui-content">
                    <h3>关于乡货圈</h3>
                    <div class="ui-content-normal">
                        <h4>亲爱的用户</h4>
                        <p>感谢您对我们的信任，为了不辜负期望一直努力着！</p>
                        <p>乡货圈，专注原生态特产的购物平台。</p>
                        <p>愿为各位在外的异乡人提供最熟悉陌生的老家味道。乡货圈汇聚全国不同区域的人共同分享乡情、乡忆、乡味，为你寻找到儿时的、传统的、回忆里的味道。这些食材在大山里，河畔里，蕴藏着，生长着，在大自然里。因此，乡货圈发掘并整合原生态特产资源，对原生态特产甄选精益求精，严格的质量检查，统一的精致包装，最可靠放心的售后，追求高质量极致的服务，一切只为你在乡货圈买到的还是儿时的、回忆里的味道。</p>
                        <p>同时也希望更多的人加入这个队伍，与更多的人一起分享我们小时的遗失的味道，重新拾起我们对老家的记忆，或许是远处老房子的几缕炊烟，或许是夕阳下映衬的稻田，或许是盛夏阳光透过树隙的光斑，我们挽起裤袖在河塘抓鱼…</p>
                        <p>乡货圈给我们的不止只是老家的味道，还有大自然的绿色食材，天然的气息造就独特淳朴味道，寂静生长历经锤炼，终成美味。这就是乡货圈，专注原生态特产。</p>
                    </div>

                </div>



            </div>
        </div>

    </div>
</div>



<div class="ui-footer-home ui-footer-normal">
    <div class="wrapper">
        <div class="fl">
            <a href="/about" class="ui-a-about">关于乡货圈</a>
            <p class="ui-text-gray ui-text-12">Copyright © 2015 xianghuoquan.cn版权所有<br />
                增值电信业务经营许可证：<a href="#" class="ui-text-gray">浙ICP备15046080号-1</a></p>
        </div>

        <div class="fr">
            <div class="fl ui-phone-box">
                <span class="ui-span-phone">4006-912-501</span>
                <span class="ui-text-12">邮箱：<a href="mailto:4006-912-501">xianghuoquan@xianghuoquan.cn</a></span>
                <span class="ui-text-gray">扫一扫 微信客服为您服务</span>
            </div>
            <p class="fl"><img src="images/wechat-small.jpg" width="76" height="76" alt=""/></p>
        </div>
    </div>
</div>