<!--header section-->
<div class="ui-header-home ui-header-normal">
    <div class="wrapper clearfix">
        <a href="/" class="ui-logo fl">乡货圈- 分享家乡的味道</a>
        <div class="fr">
            <a href="/rule-share" class="ui-btn">商家规则</a>
            <a href="/flow-share" class="ui-btn on">使用流程</a>
        </div>
    </div>
</div>

<div class="ui-body-normal">
    <div class="wrapper">
        <h2>使用流程</h2>
        <div class="ui-content-box clearfix">
            <ul class="ui-nav-sidebar fl">
                <li><a href="/flow-share">分享家申请认证</a></li>
                <li><a href="/flow-publish">商品发布</a></li>
                <li><a href="/flow-booking">订单管理</a></li>
                <li class="on"><a href="/flow-cash">钱包提现</a></li>
            </ul>

            <div class="fr">
                <div class="ui-content">
                    <h3>钱包提现流程</h3>
                    <h4>第一步</h4>
                    <p>点击进入乡货圈选择<strong>“我”</strong> > <strong>“我的钱包”</strong></p>
                    <p><img src="images/cash-1.gif" width="372" height="432" alt=""/></p>

                    <h4>第二步</h4>
                    <p>点击“提现”</p>
                    <p><img src="images/cash-2.gif" width="383" height="227" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines"><strong>提现说明：</strong>商品处在交易状态时，资金冻结无法提现；商品交易完成时，资金解冻可提现。交易状态完成的判定即客户点击确认收货，若客户收到商品后忘记点击确认收货，在客户没有争议的情况下10天内自动完结。</p>

                    <h4>第三步</h4>
                    <p>选择提现方式，并核对信息无误后点击“确认”</p>
                    <p><img src="images/cash-3.gif" width="372" height="337" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines">请输入支付宝账号、姓名、手机号码、提现金额，并确认无误。</p>
                    <p><img src="images/cash-4.gif" width="372" height="337" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines">请输入姓名、卡号、选择相应的银行、提现金额，并确认无误。</p>

                    <h4>第四步</h4>
                    <p>查看提现记录</p>
                    <p><img src="images/cash-5.gif" width="372" height="231" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines">点击“提现记录”查看提现记录</p>

                </div>

                <div class="ui-content ui-mar-t34">
                    <dl class="ui-dl-QA">
                        <dt><span class="ui-QA-num">Q1</span>申请提现后发现填写账户错误怎么办？</dt>
                        <dd>答：在资金还未转入指定账户之前请及时与乡货圈联系，会有工作人员处理。若在资金已转入指定账户后发现填写的账户错误，乡货圈概不负责，请大家提现时仔细核对信息无误后确认！</dd>
                    </dl>

                </div>

            </div>
        </div>

    </div>
</div>



<div class="ui-footer-home ui-footer-normal">
    <div class="wrapper">
        <div class="fl">
            <a href="/about" class="ui-a-about">关于乡货圈</a>
            <p class="ui-text-gray ui-text-12">Copyright © 2015 xianghuoquan.cn版权所有<br />
                增值电信业务经营许可证：<a href="#" class="ui-text-gray">浙ICP备15046080号-1</a></p>
        </div>

        <div class="fr">
            <div class="fl ui-phone-box">
                <span class="ui-span-phone">4006-912-501</span>
                <span class="ui-text-12">邮箱：<a href="mailto:4006-912-501">xianghuo@163.com</a></span>
                <span class="ui-text-gray">扫一扫 微信客服为您服务</span>
            </div>
            <p class="fl"><img src="images/wechat-small.gif" width="76" height="76" alt=""/></p>
        </div>
    </div>
</div>