<!--header section-->
<div class="ui-header-home ui-header-normal">
    <div class="wrapper clearfix">
        <a href="/" class="ui-logo fl">乡货圈- 分享家乡的味道</a>
        <div class="fr">
            <a href="/join-share" class="ui-btn">分享家招募</a>
            <a href="/join-service" class="ui-btn">服务商入驻</a>
        </div>
    </div>
</div>

<div class="ui-body-normal">
    <div class="wrapper">
        <h2>使用流程</h2>
        <div class="ui-content-box clearfix">
            <ul class="ui-nav-sidebar fl">
                <li><a href="/rule-share">分享家规则</a></li>
                <li><a href="/rule-promise">服务承诺</a></li>
                <li class="on"><a href="/flow-share">使用流程</a>
                    <ul class="ui-nav-sidebar-b">
                        <li  class="on"><a href="/flow-share">分享家申请流程</a></li>
                        <li><a href="/flow-publish">商品发布</a></li>
                        <li><a href="/flow-booking">订单管理</a></li>
                        <li><a href="/flow-cash">钱包提现</a></li>
                    </ul>
                </li>
            </ul>

            <div class="fr">
                <div class="ui-content">
                    <h3>分享家申请流程</h3>
                    <h4>第一步</h4>
                    <p>点击进入乡货圈选择 <strong>“我”</strong> > <strong>“分享乡货”</strong></p>
                    <p><img src="images/share-1.gif" width="372" height="432" alt=""/></p>

                    <h4>第二步</h4>
                    <p>请仔细阅读<a href="#"><strong>《乡货圈用户服务协议》</strong></a>以及<a href="#"><strong>《乡货圈供应商规则》</strong></a>并同意后，进行认证</p>
                    <p><img src="images/share-2.gif" width="372" height="332" alt=""/></p>
                    <p><img src="images/share-3.gif" width="372" height="332" alt=""/></p>

                    <h4>第三步</h4>
                    <p>填写真实姓名、身份证号码，并将身份证照片分别对应上传（请保证照片中信息的清晰度）</p>
                    <p><img src="images/share-4.gif" width="372" height="888" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines">核对填写信息无误后，提交审核认证，一到三个工作日内等待审核通知</p>
                </div>

                <div class="ui-content ui-mar-t34">
                    <dl class="ui-dl-QA">
                        <dt><span class="ui-QA-num">Q1</span>申请分享家认证前所需要准备的材料有哪些？</dt>
                        <dd>答：身份证照正反面各一张，本人手持身份证照一张</dd>

                        <dt><span class="ui-QA-num">Q2</span>成为乡货圈分享家的好处？</dt>
                        <dd>答：申请成为乡货圈分享家后，可以在乡货圈中发布商品，与更多的人一起分享家乡的味道。</dd>

                        <dt><span class="ui-QA-num">Q3</span>如何更快的通过审核？</dt>
                        <dd>答：在上传身份证照片时，注意上传图片中身份证信息的完整，有利于加快审核进度。</dd>
                    </dl>

                </div>

            </div>
        </div>

    </div>
</div>



<div class="ui-footer-home ui-footer-normal">
    <div class="wrapper">
        <div class="fl">
            <a href="/about" class="ui-a-about">关于乡货圈</a>
            <p class="ui-text-gray ui-text-12">Copyright © 2015 xianghuoquan.cn版权所有<br />
                增值电信业务经营许可证：<a href="#" class="ui-text-gray">浙ICP备15046080号-1</a></p>
        </div>

        <div class="fr">
            <div class="fl ui-phone-box">
                <span class="ui-span-phone">4006-912-501</span>
                <span class="ui-text-12">邮箱：<a href="mailto:4006-912-501">xianghuoquan@xianghuoquan.cn</a></span>
                <span class="ui-text-gray">扫一扫 微信客服为您服务</span>
            </div>
            <p class="fl"><img src="images/wechat-small.jpg" width="76" height="76" alt=""/></p>
        </div>
    </div>
</div>