<!--header section-->
<div class="ui-header-home ui-header-normal">
    <div class="wrapper clearfix">
        <a href="/" class="ui-logo fl">乡货圈- 分享家乡的味道</a>
        <div class="fr">
            <a href="/rule-share" class="ui-btn">商家规则</a>
            <a href="/flow-share" class="ui-btn on">使用流程</a>
        </div>
    </div>
</div>

<div class="ui-body-normal">
    <div class="wrapper">
        <h2>使用流程</h2>
        <div class="ui-content-box clearfix">
            <ul class="ui-nav-sidebar fl">
                <li><a href="/flow-share">分享家申请认证</a></li>
                <li><a href="/flow-publish">商品发布</a></li>
                <li class="on"><a href="/flow-booking">订单管理</a></li>
                <li><a href="/flow-cash">钱包提现</a></li>
            </ul>

            <div class="fr">
                <div class="ui-content">
                    <h3>订单管理流程</h3>
                    <h4>第一步</h4>
                    <p>点击进入乡货圈选择<strong>“我”</strong> > <strong>“销售订单”</strong></p>
                    <p><img src="images/booking-1.gif" width="372" height="432" alt=""/></p>
                    <p><img src="images/booking-2.gif" width="372" height="612" alt=""/></p>

                    <h4>第二步</h4>
                    <p>查看订单详情，填写快递信息</p>
                    <p><img src="images/booking-3.gif" width="372" height="619" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines">选择物流方式（快递或上门取货）、选择快递公司、填写快递单号核对订单与快递信息，确认无误点击发货</p>
                </div>

                <div class="ui-content ui-mar-t34">
                    <dl class="ui-dl-QA">
                        <dt><span class="ui-QA-num">Q1</span>因操作失误或填写快递信息错误如何变更？</dt>
                        <dd>答：为了维护客户权益，暂时还未开放物流更改信息权限。如果发现填写的快递信息存在错误，请及时与乡货圈平台人员进行沟通，工作人员会及时给您妥善处理！</dd>

                        <dt><span class="ui-QA-num">Q2</span>可供选择快递中没有所用的快递公司怎么办？</dt>
                        <dd>答：可供选择快递包含了常规使用的快递公司！若在可供选择快递中无法找到自己使用的快递公司，请及时与乡货圈联系以免耽误发货时间！</dd>

                    </dl>

                </div>

            </div>
        </div>

    </div>
</div>



<div class="ui-footer-home ui-footer-normal">
    <div class="wrapper">
        <div class="fl">
            <a href="/about" class="ui-a-about">关于乡货圈</a>
            <p class="ui-text-gray ui-text-12">Copyright © 2015 xianghuoquan.cn版权所有<br />
                增值电信业务经营许可证：<a href="#" class="ui-text-gray">浙ICP备15046080号-1</a></p>
        </div>

        <div class="fr">
            <div class="fl ui-phone-box">
                <span class="ui-span-phone">4006-912-501</span>
                <span class="ui-text-12">邮箱：<a href="mailto:4006-912-501">xianghuo@163.com</a></span>
                <span class="ui-text-gray">扫一扫 微信客服为您服务</span>
            </div>
            <p class="fl"><img src="images/wechat-small.gif" width="76" height="76" alt=""/></p>
        </div>
    </div>
</div>