<!--header section-->
<div class="ui-header-home ui-header-normal">
    <div class="wrapper clearfix">
        <a href="/" class="ui-logo fl">乡货圈- 分享家乡的味道</a>
        <div class="fr">
            <a href="/join-share" class="ui-btn">分享家招募</a>
            <a href="/join-service" class="ui-btn">服务商入驻</a>
        </div>
    </div>
</div>

<div class="ui-body-normal">
    <div class="wrapper">
        <h2>使用流程</h2>
        <div class="ui-content-box clearfix">
            <ul class="ui-nav-sidebar fl">
                <li><a href="/rule-share">分享家规则</a></li>
                <li><a href="/rule-promise">服务承诺</a></li>
                <li class="on"><a href="/flow-share">使用流程</a>
                    <ul class="ui-nav-sidebar-b">
                        <li><a href="/flow-share">分享家申请流程</a></li>
                        <li class="on"><a href="/flow-publish">商品发布</a></li>
                        <li><a href="/flow-booking">订单管理</a></li>
                        <li><a href="/flow-cash">钱包提现</a></li>
                    </ul>
                </li>
            </ul>

            <div class="fr">
                <div class="ui-content">
                    <h3>商品发布流程</h3>
                    <div class="ui-tips">
                        <h4>上架前言</h4>
                        <p><strong>准备材料：</strong>图片（720*460）3-5张、文案（标题、商品描述），商品发布前，为了确保消费者权益请将商品的样品寄往乡货圈进行样品审核，样品通过审核后，完成商品发布信息。（样品退回）</p>
                    </div>
                    <h4>第一步</h4>
                    <p>寄发样品，样品通过审核后请进入下一步</p>

                    <h4>第二步</h4>
                    <p>点击进入乡货圈选择 <strong>“我”</strong> > <strong>“分享乡货”</strong></p>
                    <p><img src="images/publish-1.gif" width="372" height="432" alt=""/></p>

                    <h4>第三步</h4>
                    <p>进入<strong>“我的乡货”</strong>列表，点击<strong>“分享我的乡货”</strong></p>
                    <p><img src="images/publish-2.gif" width="381" height="739" alt=""/></p>

                    <h4>第四步</h4>
                    <p>上传图片填写商品信息</p>
                    <p><img src="images/publish-3.gif" width="372" height="182" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines">1、请按照<a href="rule-share.html" class="ui-text-red">《乡货圈供应商要求》</a>上传商品图片，<span class="ui-text-red">上传顺序既商品前端展示顺序</span>，这个很重要，决定了商品前端展示，请大家留意！</p>
                    <p><img src="images/publish-4-1.gif" width="372" height="182" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines">2、完成填写商品名称<span class="ui-text-red">（20字内）</span>、选择分类、特产地、商品描述。</p>
                    <p><img src="images/publish-4.gif" width="372" height="250" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines">3、设置商品单购价、拼团价、可售数量，因默认<span class="ui-text-green">全国包邮</span>，请斟酌后设置价格。</p>
                    <p class="ui-text-gray ui-p-multi-lines">4、确认商品信息无误点击<span class="ui-text-green">完成</span>，提交商品，进入商品信息审核阶段。</p>

                    <h4>第五步</h4>
                    <p>审核阶段</p>
                    <p><img src="images/publish-5.gif" width="372" height="218" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines"><span class="ui-text-green">审核标准：</span>参考样品，根据《乡货圈供应商要求》中商品发布要求、商品质量要求综合评判。</p>
                    <p class="ui-text-gray ui-p-multi-lines"><span class="ui-text-green">审核时间：</span>完成商品信息后，1-3个工作日内乡货圈会以短信方式通知您审核结果。</p>

                    <h4>第六步</h4>
                    <p>审核通过，点击“上架”</p>
                    <p><img src="images/publish-6.gif" width="372" height="218" alt=""/></p>
                    <p class="ui-text-gray ui-p-multi-lines">收到审核短信商品通过最终的审核，便可点击“上架”</p>
                </div>

                <div class="ui-content ui-mar-t34">
                    <dl class="ui-dl-QA">
                        <dt><span class="ui-QA-num">Q1</span>正在上架的商品可以修改商品信息吗？修改信息后需要审核吗？</dt>
                        <dd>答：可以，上架后的商品可以修改信息，点击“分享乡货”查看商品详情修改信息保存即可。修改商品
                            信息后不需要再次提交审核，但乡货圈会不定时对所有商品进行抽检，请大家准守乡货圈规则哦！</dd>

                        <dt><span class="ui-QA-num">Q2</span>没有寄发样品却填写提交了商品信息能通过审核吗？</dt>
                        <dd>答：不能通过审核，为了保证消费者权益乡货圈需要确保所有商品质量更好服务于乡货圈用户，因此在
                            没有收到样品之前所提交的商品申请一律不予受理，望大家谅解配合！</dd>

                        <dt><span class="ui-QA-num">Q3</span>如何加快审核进度更快上架商品？</dt>
                        <dd>答：了解乡货圈商品发布流程，提前做好相应准备工作，保证上传图片、商品填写信息无误，乡货圈工作
                            人员会在第一时间内进行商品审核。</dd>
                    </dl>

                </div>

            </div>
        </div>

    </div>
</div>



<div class="ui-footer-home ui-footer-normal">
    <div class="wrapper">
        <div class="fl">
            <a href="/about" class="ui-a-about">关于乡货圈</a>
            <p class="ui-text-gray ui-text-12">Copyright © 2015 xianghuoquan.cn版权所有<br />
                增值电信业务经营许可证：<a href="#" class="ui-text-gray">浙ICP备15046080号-1</a></p>
        </div>

        <div class="fr">
            <div class="fl ui-phone-box">
                <span class="ui-span-phone">4006-912-501</span>
                <span class="ui-text-12">邮箱：<a href="mailto:4006-912-501">xianghuo@163.com</a></span>
                <span class="ui-text-gray">扫一扫 微信客服为您服务</span>
            </div>
            <p class="fl"><img src="images/wechat-small.gif" width="76" height="76" alt=""/></p>
        </div>
    </div>
</div>