<div class="ui-header-home">
    <div class="wrapper clearfix">
        <a href="/" class="ui-logo fl">乡货圈- 分享家乡的味道</a>
        <div class="fr">
            <a href="/join-share" class="ui-btn">分享家招募</a>
            <a href="/join-service" class="ui-btn">服务商入驻</a>
            <a href="/rule-share" class="ui-btn">入圈须知</a>
        </div>
    </div>
</div>

<div class="ui-body-home">
    <div class="wrapper">
        <div class="ui-home-title-box">
            <span><img src="images/wechat-big.gif" width="153" height="174" alt=""/></span>
            <span class="ui-home-title">乡货圈<br />分享家乡的味道</span>
        </div>
        <div class="ui-home-btn">
            <a href="https://www.pgyer.com/xianghuoquan" class="ui-a-IOS">
                <span>IOS手机下载</span>
            </a>
            <a href="https://www.pgyer.com/TpoN" class="ui-a-android">
                <span>安卓手机下载</span>
            </a>
        </div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;适用系统：IOS 7.0及以上    Android 4.0及以上</p>
    </div>
</div>

<div class="ui-footer-home">
    <div class="wrapper">
        <div class="fl">
            <a href="/about" class="ui-a-about">关于乡货圈</a>
            <p class="ui-text-gray ui-text-12">Copyright © 2015 xianghuoquan.cn版权所有<br />
                增值电信业务经营许可证：<a href="#" class="ui-text-gray">浙ICP备15046080号-1</a></p>
        </div>

        <div class="fr">
            <div class="fl ui-phone-box">
                <span class="ui-span-phone">4006-912-501</span>
                <span class="ui-text-12">邮箱：<a href="mailto:4006-912-501">xianghuoquan@xianghuoquan.cn</a></span>
                <span class="ui-text-gray">扫一扫 微信客服为您服务</span>
            </div>
            <p class="fl"><img src="images/wechat-small.jpg" width="76" height="76" alt=""/></p>
        </div>
    </div>
</div>

