<!--header section-->
<div class="ui-header-home ui-header-normal ui-header-normal-b">
    <div class="wrapper clearfix">
        <a href="/" class="ui-logo fl">乡货圈- 分享家乡的味道</a>
        <div class="fr">
            <a href="/join-service" class="ui-btn">服务商入驻</a>
            <a href="/rule-share" class="ui-btn">入圈须知</a>
        </div>
    </div>
</div>

<div class="ui-banner-share">

</div>

<div class="ui-body-normal">
    <div class="wrapper">
        <div class="ui-platform-intro">
            <h2>平台介绍</h2>
            <p>乡货圈是目前国内领先的C2C农产品分享平台<br />
                集合了全国各地特色优质农特产品，同时也聚集了全国异地他乡的人，主打特产和农特产品为异地他乡的<br />
                消费者提供最熟悉的味道、记忆和情感！</p>
            <ul class="clearfix">
                <li><span class="ui-icon ui-icon-1"></span><h3>大量流量</h3>
                    <p>平台海量流量，按产品地区呈现保证所售产品的平均展现程度。</p>
                </li>
                <li><span class="ui-icon ui-icon-2"></span><h3>交易担保</h3>
                    <p>平台担保交易，确保资金安全问题，让交易更安全。</p>
                </li>
                <li><span class="ui-icon ui-icon-3"></span><h3>独一无二</h3>
                    <p>产品通过审核上架后，便停止同类型产品报名审核，杜绝产品价格竞争问题。</p>
                </li>
                <li><span class="ui-icon ui-icon-4"></span><h3>快速提现</h3>
                    <p>多种第三方平台提现接口，确认收货后，随时随地转账提现。</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="ui-body-normal-b">
    <div class="wrapper">
        <div class="ui-qualify">
            <h2>资质条件说明</h2>
            <ul class="ui-qualify-list clearfix">
                <li class="ui-qualify-list-item ui-qualify-list-item-1">
                    <h3 class="ui-basic"><span></span>基础条件</h3>
                    <ul class="ui-qualify-list-b">
                        <li>有互联网平台或电子商务类营销经验</li>
                        <li>拥怀强大的本地优质农特产品资源</li>
                        <li>熟悉对乡货圈分享家管理规则</li>
                        <li>热爱家乡，愿意分享家乡的味道</li>
                    </ul>
                </li>
                <li class="ui-qualify-list-item ui-qualify-list-item-2">
                    <h3 class="ui-requirements"><span></span>资质要求</h3>
                    <ul class="ui-qualify-list-b">
                        <li>个人分享家，需提供个人身份证信息，若是企业分
                            享家，需提供相关的企业资质来表明企业的正规性</li>
                        <li>预包装食品、非包装食品／农产品需要出具对应许
                            可证、检验报告等，农产品需要出具合作社／农场
                            基地证明或者授权证明（进货发票）等</li>
                        <li>预包装食品有效期（保质期），距离商品有效时间
                            不得低于50%</li>
                        <li><a href="/flow-share">分享家申请流程 ></a></li>
                    </ul>
                </li>
                <li class="ui-qualify-list-item ui-qualify-list-item-3">
                    <h3 class="ui-service"><span></span>服务要求</h3>
                    <ul class="ui-qualify-list-b">
                        <li>能够提供7+无理由退换货<br />
                            备注：生鲜类目除外，生鲜类目出现质量问题，直
                            接赔付，不需退换</li>
                        <li>如有质量问题，能够提供快速理赔服务</li>
                        <li>闪电发货：下单后48小时之内发货</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="ui-body-normal">
    <div class="wrapper ui-join">
        <h2>报名流程</h2>
        <ul class="ui-join-list clearfix">
            <li>
                <span class="ui-order">01</span>
                <h3>在线报名</h3>
                <p>点击<span class="ui-text-red">在线报名</span>，与大区客户经理取得联系，加快资质审核。</p>
                <span class="ui-bg-order ui-bg-order-1"></span>
            </li>
            <li>
                <span class="ui-order">02</span>
                <h3>上传资料</h3>
                <p>填写公司或个人资料，上传公司或个人能力的相关证明材料</p>
                <span class="ui-bg-order ui-bg-order-2"></span>
            </li>
            <li>
                <span class="ui-order">03</span>
                <h3>资质预审</h3>
                <p>资料上传成功，等待平台审核，可向大区经理咨询审核进度</p>
                <span class="ui-bg-order ui-bg-order-3"></span>
            </li>
            <li class="ui-last">
                <span class="ui-order">04</span>
                <h3>报名成功</h3>
                <p>学习乡货圈分享家规则，开始分享家乡产品，等待产品审核，获得市场曝光</p>
                <span class="ui-bg-order ui-bg-order-4"></span>
            </li>
        </ul>
        <p class="ui-p-join"><a href="/flow-share" class="ui-text-green">点击查看操作步骤></a></p>
    </div>
</div>

<div class="ui-bg-blue">
    <a href="http://www.diaochapai.com/survey1686288" target="_blank" class="ui-a-join">在线报名</a>
</div>


<div class="ui-footer-home ui-footer-normal">
    <div class="wrapper">
        <div class="fl">
            <a href="/about" class="ui-a-about">关于乡货圈</a>
            <p class="ui-text-gray ui-text-12">Copyright © 2015 xianghuoquan.cn版权所有<br />
                增值电信业务经营许可证：<a href="#" class="ui-text-gray">浙ICP备15046080号-1</a></p>
        </div>

        <div class="fr">
            <div class="fl ui-phone-box">
                <span class="ui-span-phone">4006-912-501</span>
                <span class="ui-text-12">邮箱：<a href="mailto:4006-912-501">xianghuo@163.com</a></span>
                <span class="ui-text-gray">扫一扫 微信客服为您服务</span>
            </div>
            <p class="fl"><img src="images/wechat-small.jpg" width="76" height="76" alt=""/></p>
        </div>
    </div>
</div>