<!--header section-->
<div class="ui-header-home ui-header-normal">
    <div class="wrapper clearfix">
        <a href="/" class="ui-logo fl">乡货圈- 分享家乡的味道</a>
        <div class="fr">
            <a href="/join-share" class="ui-btn">分享家招募</a>
            <a href="/join-service" class="ui-btn">服务商入驻</a>
        </div>
    </div>
</div>

<div class="ui-body-normal">
    <div class="wrapper">
        <h2>关于乡货圈</h2>
        <div class="ui-content-box clearfix">
            <ul class="ui-nav-sidebar fl">
                <li class="on"><a href="/rule-share">分享家规则</a></li>
                <li><a href="/rule-promise">服务承诺</a></li>
                <li><a href="/flow-share">使用流程</a>
                    <ul class="ui-nav-sidebar-b">
                        <li><a href="/flow-share">分享家申请流程</a></li>
                        <li><a href="/flow-publish">商品发布</a></li>
                        <li><a href="/flow-booking">订单管理</a></li>
                        <li><a href="/flow-cash">钱包提现</a></li>
                    </ul>
                </li>
            </ul>

            <div class="fr">
                <div class="ui-content">
                    <h3>乡货圈供应商规则</h3>
                    <div class="ui-content-normal ui-content-rule">
                        <h4 class="ui-h4-title"> 第一章	 概述</h4>


                        <p><strong>第一条</strong> 为了更好服务于乡货圈客户提升卖家服务质量，满足客户高效购物权，增强客户体验感，营造良好的购物环境，因此拟定《乡货圈供应商规则》，此规则对乡货圈所有供应商适用并实施，请供应商务必遵守。</p>

                        <h4 class="ui-h4-title">第二章	48小时发货</h4>

                        <p><strong>第二条</strong> 买家完成付款后，48小时内请安排发货，以快递公司系统内记录为准，经查实1次严重警告并记录备案，2次强制下架商品。</p>
                        <p><strong>第三条</strong> 延迟发货，买家付款后无法做到48小时内完成发货以及在买家付款后表示不能再48小时内完成发货，主动与买家协商发货时间，争取买家同意。买家同意后协商时间未完成发货投诉卖家，经查实，1次严重警告并记录备案，2次强制下架商品。买家不同意，请予退款。</p>
                        <p><strong>第四条</strong> 虚假发货，当买家付款后，48小时内未完成发货，交易状态显示“已发货”为虚假发货，经查实，1次严重警告并记录备案，2次强制下架商品。</p>
                        <p><strong>第五条</strong> 快递公司系统记录，快递公司完成快递单信息录入快递公司系统，并同步到乡货圈。若快递公司系统问题或因不可抗拒因素无法48小时内录入快递信息，导致卖家无法发货被投诉，卖家需提供有效证据来证明获取免责。</p>

                        <h4 class="ui-h4-title">第三章	快递</h4>

                        <p><strong>第六条</strong> 确保客户体验感更好，商品在运输过程中能到得到保证，选择信誉高，物流快，服务好的快递公司。</p>
                        <p><strong>第七条</strong> 运输过程中导致商品变质或过期影响客户体验感，为挽救客户商家应及时补发商品。</p>
                        <p><strong>第八条</strong> 运输过程中导致商品受损影响客户体验感，为挽救客户商家应及时商家补发商品。</p>

                        <h4 class="ui-h4-title">第四章	商品质量</h4>
                        <p><strong>第九条</strong> 客户收到变质或过期商品投诉卖家，经查实，给予严重警告一次并记录备案，若二次违规直接下架处理。</p>
                        <p><strong>第十条</strong> 客户收到份量短缺的商品投诉卖家，经查实，给予严重警告一次并记录备案，若二次违规直接下架处理。</p>
                        <p><strong>第十一条</strong> 客户收到描述不符的商品或者冒充特产投诉卖家，经查实，给予严重警告一次并记录备案，若二次违规直接下架处理。</p>
                        <p><strong>第十二条</strong> 客户收到不完整商品或损坏的商品（发货前损坏）投诉卖家，经查实，给予严重警告一次并记录备案，若二次违规直接下架处理。</p>
                        <p><strong>第十三条</strong> 客户收到含肉眼可见的外来杂质商品投诉卖家（商品因生产工艺含有掺杂除外），经查实，给予严重警告一次并记录备案，若二次违规直接下架处理。</p>
                        <p><strong>第十四条</strong> 客户收受潮发霉的商品，经查实，给予严重警告一次并记录备案，若二次违规直接下架处理</p>

                        <h4 class="ui-h4-title">第五章	商品分类</h4>
                        <p><strong>第十五条</strong> 按照商品类别进行分类上架，若发现1次，给予整顿，2次警告整顿，3次强制下架。</p>

                        <h4 class="ui-h4-title">第六章  发布商品</h4>
                        <p><strong>第十六条</strong> 发布商品时图片、标题、价格、规格不符合要求，审核不通过。</p>
                        <p><strong>第十七条</strong> 发布商品与实物不符，审核不通过。</p>
                        <p><strong>第十八条</strong> 发布商品不能按照乡货圈要求进行包装，审核不通 过。</p>
                        <p><strong>第十九条</strong> 发布同款商品保留性价比最高商品。</p>

                        <h4 class="ui-h4-title">第七章  退换售后</h4>
                        <p><strong>第二十条</strong> 客户收到损坏商品时，补发商品。</p>
                        <p><strong>第二十一条</strong> 客户收到货期或变质商品时，补发商品。</p>
                        <p><strong>第二十二条</strong> 客户收到假货或冒充特产商品，补发商品。</p>
                        <p><strong>第二十三条</strong> 客户收到份量短缺商品时，补发商品。</p>
                        <p><strong>第二十四条</strong> 客户收到肉眼可见外来杂质商品（商品因生产工艺含有掺杂除外），补发商品</p>
                        <p><strong>第二十五条</strong> 客户收到受潮发霉商品，补发商品</p>
                        <p><strong>第二十六条</strong> 客户收到商品不满意在没有拆封且不影响二次销售的情况下，7天内给予退换货。（换货邮费双方自理）</p>
                        <p><strong>第二十七条</strong> 客户收到商品存在质量问题，且不接受商品补发，应予退款处理。</p>
                        <p><strong>第二十八条</strong> 客户付款后未在规定时间完成发货，且客户要求退款，应予退款处理。</p>
                        <p><strong>第二十九条</strong> 商品在快递运过程中损坏或丢失，补发商品。</p>

                    </div>

                </div>



            </div>
        </div>

    </div>
</div>



<div class="ui-footer-home ui-footer-normal">
    <div class="wrapper">
        <div class="fl">
            <a href="/about" class="ui-a-about">关于乡货圈</a>
            <p class="ui-text-gray ui-text-12">Copyright © 2015 xianghuoquan.cn版权所有<br />
                增值电信业务经营许可证：<a href="#" class="ui-text-gray">浙ICP备15046080号-1</a></p>
        </div>

        <div class="fr">
            <div class="fl ui-phone-box">
                <span class="ui-span-phone">4006-912-501</span>
                <span class="ui-text-12">邮箱：<a href="mailto:4006-912-501">xianghuo@163.com</a></span>
                <span class="ui-text-gray">扫一扫 微信客服为您服务</span>
            </div>
            <p class="fl"><img src="images/wechat-small.gif" width="76" height="76" alt=""/></p>
        </div>
    </div>
</div>