<!--header section-->
<div class="ui-header-home ui-header-normal">
    <div class="wrapper clearfix">
        <a href="/" class="ui-logo fl">乡货圈- 分享家乡的味道</a>
        <div class="fr">
            <a href="/rule-share" class="ui-btn on">商家规则</a>
            <a href="/flow-share" class="ui-btn">使用流程</a>
        </div>
    </div>
</div>

<div class="ui-body-normal">
    <div class="wrapper">
        <h2>关于乡货圈</h2>
        <div class="ui-content-box clearfix">
            <ul class="ui-nav-sidebar fl">
                <li><a href="/rule-share">分享家规则</a></li>
                <li  class="on"><a href="/rule-promise">服务承诺</a></li>
            </ul>

            <div class="fr">
                <div class="ui-content">
                    <h3>服务承诺</h3>
                    <div class="ui-tips ui-tips-b">在遵循《乡货圈用户服务协议》的条件下，乡货圈将承诺以下服务</div>
                    <ul class="ui-promise-list clearfix">
                        <li class="ui-min-height">
                            <h4><span class="ui-icon-promise ui-icon-1"></span>消费者权益保障</h4>
                            <p>支持自买家完成支付乡货圈担保交易付款之日起至交易成功后15天内保障买家权益，如有商品质量问题、描述不符或付快后未收到货等，全程支持退货换货，退运费由卖家承担，请放心购买。</p>
                        </li>

                        <li class="ui-min-height">
                            <h4><span class="ui-icon-promise ui-icon-2"></span>品质保障</h4>
                            <p>所有商品都经过严格的质量把控，描述如实，力求做到无质量问题。</p>
                        </li>

                        <li class="ui-min-height">
                            <h4><span class="ui-icon-promise ui-icon-3"></span>安全购物保障</h4>
                            <p>自买家完成支付乡货圈担保交易起，全程为您的交易安全保驾护航</p>
                        </li>

                        <li>
                            <h4><span class="ui-icon-promise ui-icon-4"></span>服务保障</h4>
                            <p>24小时工作，随时随地想买就买，让您100%满意的贴心服务</p>
                        </li>

                        <li>
                            <h4><span class="ui-icon-promise ui-icon-5"></span>物流保障</h4>
                            <p>保证正常情况下48小时内发货，产品完全送达，无漏发，无缺货，开箱验货，满意签收</p>
                        </li>

                        <li>
                            <h4><span class="ui-icon-promise ui-icon-6"></span>7天无条件</h4>
                            <p>乡货圈商品严格按照国家法规，7天无理由退换货，售后贴心又保障</p>
                        </li>

                    </ul>


                </div>



            </div>
        </div>

    </div>
</div>



<div class="ui-footer-home ui-footer-normal">
    <div class="wrapper">
        <div class="fl">
            <a href="/about" class="ui-a-about">关于乡货圈</a>
            <p class="ui-text-gray ui-text-12">Copyright © 2015 xianghuoquan.cn版权所有<br />
                增值电信业务经营许可证：<a href="#" class="ui-text-gray">浙ICP备15046080号-1</a></p>
        </div>

        <div class="fr">
            <div class="fl ui-phone-box">
                <span class="ui-span-phone">4006-912-501</span>
                <span class="ui-text-12">邮箱：<a href="mailto:4006-912-501">xianghuo@163.com</a></span>
                <span class="ui-text-gray">扫一扫 微信客服为您服务</span>
            </div>
            <p class="fl"><img src="images/wechat-small.gif" width="76" height="76" alt=""/></p>
        </div>
    </div>
</div>